<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu logo">
            <li class="menu-text"><a href="{{ path('homepage') }}" title="{{ 'Micro Blog' | trans }}">{{ 'Micro Blog' | trans }}</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#">{{ 'About me' | trans }}</a></li>
            <li><a href="#">{{ 'Portofolio' | trans }}</a></li>
            <li><a href="#">{{ 'Contact' | trans }}</a></li>
        </ul>
    </div>
</div>